@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

h1 {
  font-size: 95px;
  font-weight: 800;
}
h2 {
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 800;
}

h3 {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 600;
}

/* navbar starts here */

.navbar {
  max-width: 1240px;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo {
  width: 50%;
  padding-left: 80px;
  display: flex;
  align-items: center;
}

.logo > img {
  width: 86px;
  height: 40px;
  padding-right: 20px;
}

.logo-text {
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu {
  width: 50%;
  padding: 0 30px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.menu > li {
  list-style: none;
  padding-right: 30px;
}

.menu > li > a {
  color: #3c354f;
  text-align: center;
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 500;
}

.menu > button {
  padding: 18px 24px;
  border: none;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  cursor: pointer;
  color: #3c354f;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.icon-youtube {
  padding-right: 20px;
  padding-left: 20px;
  font-size: 2rem;
  color: red;
}

.icon-tiktok {
  font-size: 1.5rem;
}

/* navbar ends here */

/* banner styles starts here */

.banner {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.banner-text {
  width: 50%;
  padding-left: 100px;
}

.banner-text > .banner-goat {
  padding-bottom: 30px;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner-text > p {
  padding: 12px 0;
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
}

.banner-icon {
  padding-right: 20px;
}

.banner-icon-people {
  padding-right: 16px;
}

.banner-btn {
  padding-top: 40px;
}

.btn-signIn {
  padding: 21px 40px;
  margin-right: 24px;
  border: none;
  border-radius: 48px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  cursor: pointer;
}

.btn-rogue {
  padding: 21px 40px;
  border: none;
  border-radius: 48px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  background: #4ec5f7;
  cursor: pointer;
}

.banner-img {
  width: 50%;
}

.banner-img > img {
  width: 100%;
  object-fit: contain;
}

/* banner styles ends here */

/* responsive styles for mobile starts here */

@media screen and (max-width: 576px) {
  .navbar,
  .menu,
  .menu > li {
    flex-direction: column;
  }

  .banner {
    flex-direction: column-reverse;
  }

  .menu,
  .logo,
  .banner-text,
  .banner-img {
    width: 100%;
  }

  .logo {
    padding: 0;
    justify-content: center;
  }

  .logo h2 {
    text-align: center;
  }

  .menu {
    margin-top: 20px;
  }

  .menu > li {
    width: 100%;
    text-align: center;
    padding: 30px 0 0;
  }

  .menu > button {
    margin: 30px 0 0;
    /* padding: 10px 0; */
    justify-content: center;
  }

  .banner {
    margin-bottom: 200px;
    padding: 20px;
  }
  .banner-text {
    padding: 0;
  }
  .banner-text h3 {
    font-size: 2.4rem;
    text-align: center;
  }

  .banner-text h1 {
    font-size: 4.6rem;
    text-align: center;
  }

  .banner-text p {
    font-size: 1rem;
    padding-left: 20px;
  }

  .btn-rogue,
  .btn-signIn {
    padding: 18px 30px;
  }
  .btn-signIn {
    margin-right: 10px;
  }
}

/* responsive styles for tablet starts here */

@media screen and (min-width: 577px) and (max-width: 1024px) {
  .navbar,
  .menu,
  .menu > li {
    flex-direction: column;
  }

  .logo {
    padding: 20px;
    justify-content: center;
  }

  .menu,
  .logo {
    width: 100%;
  }

  .menu {
    margin-top: 20px;
  }

  .menu > li {
    width: 100%;
    text-align: center;
    padding: 30px 0 0;
  }

  .menu > button {
    margin: 30px 0 0;
    /* padding: 10px 0; */
    justify-content: center;
  }
}
